**/node_modules
**/dist
**/coverage
**/.git
**/*.log
**/.DS_Store

**/.env
**/.env.*
!**/.env.example

apps/api/src/generated

docs
README.md
render.yaml
.github
.vscode
.husky
eslint.config.js
commitlint.config.js
.prettierrc.json
.prettierignore
